* {
  /* GLOBAL RESETS */
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

/* GLOBAL COLOR SCHEME */
:root {
  --readingBrown: #dcac7c; /*PAPYRUS - background color #e5ddd1  #c99868  */
  --lightBrown: #f7f707;
  --darkBrown: #a67041; /*buttons and heading color  #7c410c  */
  --text: #070707; /*text of descriptions  303030   */
  --btnsText: rgb(247, 247, 247);
  --headings: white;
  --pictureBorder: white;
  --darkestBrown: #5c3b02;
  /* 
  2018 Warm Sand color scheme
  https://www.w3schools.com/w3css/w3css_color_generator.asp
  */

  /* Notes:
  - position fixed 
  - background-color 
  - border + radius 
  */
}

/* Modal and Close buttons styling */
#modalTest {
  border: solid 2px green;
  position: absolute !important;
  background-color: white !important;
  padding: 1rem !important;
  margin-top: 35% !important ;
  margin-left: 5% !important ;
  z-index: 1 !important;
  width: 90% !important;
}
#closeModal {
  display: inline-block;
  padding: 0.1rem 0.5rem !important;
  border-radius: 3px !important;
  font-weight: bold;
  border: 2px solid black !important;
  transition: all 0.5s !important;
}
#closeModal:hover {
  background-color: red !important;
  color: white !important;
  cursor: pointer !important;
}

#closeModalBtn {
  display: block !important;
  text-align: center !important;
  width: 100%;
  /* border: solid 2px black !important; */
  padding: 0.1rem 0.3rem !important;
  border-radius: 9px;
  background-color: black;
  color: white;
  transition: all 0.5s;
}
#closeModalBtn:hover {
  background-color: red;
  transition: all 0.5s;
}

/*** Global Styles ***/

/* Links */
.viewMoreLink {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--readingBrown);
  background-color: var(--darkBrown);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
  cursor: pointer;
}
.book-title {
  font-weight: bold;
}
.book-author {
  font-style: italic;
}

.book-author,
.book-title {
  /*  */
  color: var(--text);
}

/* Font size styling for inputs and buttons */
#title,
#author,
#search-button,
.historyBtn,
#clearHistoryBtn,
.randomBtn {
  text-align: center;
  font-size: 18px;
}

/* input styling */
#title,
#author {
  border-radius: 11px;
  border: none;
  box-shadow: 0 0 0 1px var(--darkBrown);
  outline: solid var(--darkBrown) 1px;
}

/* PAGE STYLING */
body {
  background-color: var(--readingBrown);
}
header {
  background-color: var(--darkBrown) !important;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}
header p {
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.emoji {
  font-size: 30px;
}
.emoji-left {
  margin-right: 1rem;
}
.emoji-right {
  margin-left: 1rem;
}

h1 {
  color: var(--headings) !important;
  background-color: var(--darkBrown) !important;
  font-family: "Dancing Script", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  font-size: 32px;
}

.div-form-wrapper,
form {
  display: flex !important;
  flex-direction: column !important;
  gap: 1rem;
  margin: 0 2%;
}

/* buttons styling */
.buttons {
  border: none;
  background-color: var(--darkBrown);
  color: white;
  border-radius: 11px;
  width: 50%;
  padding: 0.3rem;
  align-self: center !important;
  transition: all 0.2s;
}
.buttons:active {
  color: black;
  background-color: var(--readingBrown);
}
.buttons:hover {
  transition: all 0.7s;
  background-color: var(--darkestBrown);
}

/* ***** */
/* API Book Info */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  color: black !important;
  filter: invert(100%);
  margin: 0 1%;
  opacity: 1 !important;
}
.carousel {
  margin: 0 2% !important;
  font-size: 18px;
  text-align: center;
}
.carousel-item {
  background-color: var(--readingBrown) !important;
  border: solid 2px var(--darkBrown);
  border-radius: 8px;
  padding-left: 10% !important;
  padding-bottom: 1rem;
}
.carousel-item div {
  margin-top: 1rem !important;
}

/* Book image */
.book-frontpage img {
  border-radius: 3px;
  /* border: solid 3px var(--pictureBorder); */
  box-shadow: 0 0 8px 5px var(--pictureBorder);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
}

/* GIF */
.book-gif img {
  border-radius: 7px;
}

.book-desc {
  max-width: 50%;
}

.book-area {
  display: flex !important;
  flex-direction: column !important;
  height: fit-content !important;
  position: relative !important;
  padding: 1rem 1rem !important;
}

#history-container {
  margin-top: 1rem !important;
}
.div-form-wrapper {
  margin-bottom: 1rem !important;
}
